.main-navigation {
  /* position: fixed; */
  left: 0;
  top: 0;
  width: 100%;
  height: 64px;
  background: #258FFB;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.main-navigation__logo h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #ffffff;
}

.main-navigation__items {
  margin-left: 1.5rem;
}
