.events__list-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #258FFB;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
}
.events__list-item h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #258FFB;
}
.events__list-item h3 {
  margin-top: 10px;
  font-size: 1rem;
}
.events__list-item p {
  margin-top: 10px;
  font-size: 1rem;
}